.navbar {
    background-color: #000; /* black */
    padding: 1em;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .search-container {
    margin-left: 20px;
  }
  
  .logo-search-container {
    display: flex;
    align-items: center;
  }
  
  .tech-logos-wrapper {
    display: flex;
    margin-left: auto;
  }
  
  .tech-logos {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .tech-logos img {
    filter: invert(1); /* Add this line to invert the icon colors */
  }
  
  .nav-item {
    margin-right: 20px;
    color: #fff; /* Added to make nav items visible */
  }
  
  .icon-search {
    color: #fff; /* Added to make magnifying glass icon visible */
  }