.navbar {
    background-color: #000; /* black */
    padding: 1em;
    font-family: Arial, sans-serif; /* modern font */
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-link {
    color: #fff; /* white */
    font-size: 12px; /* decreased font size */
    text-decoration: none;
  }
  
  .nav-icon-container {
    margin-bottom: 5px;
  }
  
  .nav-icon {
    color: #fff; /* white */
    font-size: 18px; /* larger icon size */
  }
  
  .search-container {
    margin-left: 20px;
  }
  
  .logo-search-container {
    display: flex;
    align-items: center;
  }
  
  .tech-logos-wrapper {
    display: flex;
    margin-left: auto;
  }
  
  .tech-logos {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .tech-logos img {
    filter: invert(1); /* invert icon colors */
  }
  
  .icon-search {
    color: #fff;
  }